.grille{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-auto-rows: 240px;
    grid-auto-flow: row dense ;
    justify-content: center;
    place-items: center;
}

body{
    background-color: #F9F9F9;
    color: #9360f3;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 100%;
    height: auto;
}

a:visited{
    color: #9360f3;
}

a:hover{
    opacity: 70%;
    line-height: 10px;
}

a{
    transition: 0.4s;
    color: #9360f3;
}

b{
    background-color: #F9F9F9 ;
}

h1, h2{
    text-align: left;
}

.bigsquare{
    grid-column: span 2;
    grid-row: span 2;
}

.recth{
    grid-column: span 2;
}

.rectv{
    grid-row: span 2;
}

.propos, 
.conception{
    background-color: #F9F9F9;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
} 

.portfolio{
    background-color: #afeee3;
    color:white;
    padding-left: 20px;
    padding-right: 40px;
}

@media (min-width:400px){
    .galerie{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
    }
    .propos, 
    .conception{
        background-color: #F9F9F9;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
        padding-right: 20px;
    } 
}

@media (min-width:800px){
    .galerie{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 20px;
    }
    .propos, 
    .conception{
        background-color: #F9F9F9;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 20px;
        padding-right: 20px;
    } 
}

.galerie{
    display: grid;
    padding-left: 20px;
}

.carbonbadge{
    margin-top: 30px;
}